@charset "utf-8";


/* login */
#loginWrap {position:relative; width:100%; }
#loginWrap h1 {text-align:center; font-weight:bold; font-size:30px; margin-top:200px; color:#3c456b;}
#loginWrap .loginBar {position:relative; width:100%; height:170px; background:#e5e5e5; z-index:10000;}
#loginWrap .loginBar .loginBox {position:relative; width:473px; margin:0 auto;}
#loginWrap .loginBar .loginBox p {float:left; width:100%; margin-left:60px;}
#loginWrap .loginBar .loginBox p input {width:190px; padding:7px;}
#loginWrap .loginBar .loginBox span {display:inline-block;  width:60px;}
#loginWrap .loginBar .loginBox div {position:absolute; top:50px; right:50px;}
#loginWrap .loginBar .loginBox .btn {display:inline-block; width:80px; text-align:center;  border-radius:3px; color:#ffffff; font-size:16px; line-height:22px; background:#2783CA; padding:24px 0; border:solid #2071B0 1px;}
#loginWrap .loginBar .loginBox .btn:hover {color:#ffffff; background:#15619A;}

#Wrap {position:relative; width:100%; background:url(../images/gnb_bg.gif) repeat-x 0 0;}
.inner {position:relative; width:1200px; margin:0 auto;}

header {position:relative; height:115px;}
header h1 {position:absolute; top:10px; left:0; right:0; text-align:center; z-index:2}
header h1 a {font-weight:bold; font-size:30px; color:#3c456b;}
header .gnbMenu {overflow:hidden; height:45px; padding-top:70px; z-index:-1}
header .gnbMenu li {float:left; width:12%;}
header .gnbMenu li:first-child {border-left:1px solid #5e6890;}
header .gnbMenu li a {display:block; text-align:center; height:45px; line-height:45px; font-size:16px; font-weight:bold; color:#fff; border-right:1px solid #5e6890;}
header .gnbMenu li a:hover {color:#fffb45;}
 
footer {width:100%; text-align:center; background:#e5e5e5; border-top:1px solid #b1b1b1; padding:20px 0;}


#container {position:relative; width:1200px; margin:0 auto;}
#container .tit {font-size:20px; font-weight:bold; margin-top:34px; height:41px; line-height:41px;}
#container .contBox {padding-bottom:50px;}
